.snackbar {
  position: fixed;
  left: 60%;
  top: 92%;
  transform: translate(-1%, -99%);
  width: 350px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.snackbar .symbol {
  flex: 20%;
}

.snackbar .message {
  flex: 80%;
  text-align: start;
  font-weight: bold;
}

#show {
  visibility: visible;
  animation: fadeIn 0.5s 2.5s;
}
#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@media screen and (max-width: 1024px) {
  .snackbar {
    width: 200px;
    height: 40px;
  }
  .snackbar .symbol {
    flex: 20%;
    font-size: x-small;
  }

  .snackbar .message {
    flex: 80%;
    text-align: start;
    font-weight: bold;
    font-size: x-small;
  }
}
/* media queries (small) */

@media screen and (max-width: 600px) {
  .snackbar {
    width: 100px;
    height: 40px;
  }
  .snackbar .symbol {
    flex: 20%;
    font-size: xx-small;
  }

  .snackbar .message {
    flex: 80%;
    text-align: start;
    font-weight: bold;
    font-size: xx-small;
  }
}
